SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Email (console prints to terminal, no SMTP needed)
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=noreply@cloudrope.com

# Frontend (used in verification link)
FRONTEND_URL=http://localhost:5173

# Vite
VITE_API_URL=http://localhost:8000


# Production Email (uncomment and set these for production)
# EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
# EMAIL_HOST=smtp.sendgrid.net
# EMAIL_PORT=587
# EMAIL_USE_TLS=True
# EMAIL_HOST_USER=apikey
# EMAIL_HOST_PASSWORD=your_sendgrid_api_key
# DEFAULT_FROM_EMAIL=noreply@cloudrope.com
# FRONTEND_URL=https://cloudrope.com